<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div class="container">
		<div th:fragment="header">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#" th:href="@{/}">Strona główna</a>
						<ul class="nav navbar-nav">
							<li><a href="#" th:href="@{/gryPlanszowe}">Katalog gier</a></li>

							<li sec:authorize="hasAuthority('employee')"><a href="#"
								th:href="@{/zarzadzanie}">Panel pracownika</a></li>
						</ul>
					</div>
					
					<div>
						<a sec:authorize="isAnonymous()" th:href="@{/login}" href="/login"
							class="logInButton btn btn-success pull-right">Zaloguj się</a>
						<form sec:authorize="isAuthenticated()" method="POST"
							th:action="@{/logout}">
							<button type="submit" name="submit" value="value"
								class="logInButton btn btn-success pull-right">Wyloguj
							się</button>
						</form>

					</div>

				</div>
			</nav>

			<div class="jumbotron">
				<div class="row text-center">
					<div class="">
						<h2>Wypożyczalnio-Sklep Gier Planszowych</h2>
					</div>
				</div>
				<div class="row text-center">
					<img src="../../static/images/logo.png" width="400"
						th:src="@{/images/logo.png}" />
				</div>
			</div>
		</div>
	</div>
</body>
</html>