<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Przedłużenie wypożyczenia</title>
<th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
	<th:block th:include="fragments/navbar :: navbar"></th:block>

	<div class="container" style="margin-top: 50px;">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-plus"></span> Przedłuż wypożyczenie
					</div>
					<div class="panel-body">
						<form class="form-horizontal" role="form"
							th:action="@{/wypozyczenia/{rentalId}/przedluz(rentalId = ${rental.id})}" method="post">

							<table class="table table-striped">
								<tr>
									<td>Id wypożyczenia</td>
									<td th:text="${rental.id}"></td>
								</tr>
								<tr>
									<td>Aktualny termin</td>
									<td><span th:text="${#calendars.format(rental.rentUntilDate, 'dd MMM yyyy')}">1</span></td>
								</tr>
								<tr>
									<td>Aktualna kwota</td>
									<td><span id="currentPrice" th:text="${rental.price}">1</span> zł</td>
								</tr>
								<tr>
									<td>Koszt wypożyczenia gry na dzień</td>
									<td><span id="boardGamePerDayPrice" th:text="${rental.boardGame.rentalPrice}">1</span> zł</td>
								</tr>
								<tr>
									<td>Ilość dni</td>
									<td><span id="daysToExtend">1</span></td>
								</tr>
								<tr>
									<td>Nowa kwota</td>
									<td><span id="newPrice" th:text="${rental.price}">1</span> zł</td>
								</tr>
							</table>

							<input id="rentalId" name="rentalId" type="hidden"
								value="-1" th:value="${rental.id}" /> <input
								id="numberOfDaysToExtend" name="numberOfDaysToExtend" type="range" min="1"
								value="1" th:attr="max=${maxExtensionDays}"
								onchange="sliderChanged(this.value);" />

							<div class="form-group last">
								<div class="col-sm-offset-3 col-sm-9">
									<button type="submit" class="btn btn-success">Przedłuż</button>
									<a href="#" th:href="@{/zamowienia/}" class="btn btn-default">Anuluj</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		function sliderChanged(val) {
			$('#daysToExtend').text(val);
			
			var currentPrice = parseFloat($('#currentPrice').text());
			$('#newPrice').text(parseFloat(($('#boardGamePerDayPrice').text() * val + currentPrice).toFixed(2))); 	
		}
	</script>

</body>
</html>