<!DOCTYPE html>
<html>
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<title>Wypożyczalnio-Sklep Gier Planszowych</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


</head>
<body>

	<th:block th:include="fragments/navbar :: navbar"></th:block>
	<div class="container">
		<div class="row" style="margin-top: 20px;">

			<div>

				<h2 class="orderDetails"
					th:attr="data-external-order-id=${externalOrder.id}">
					Szczegóły zamówienia nr. <span th:text="${externalOrder.id}">X</span>
				</h2>

				<table class="table table-striped">
					<tr>
						<td>Utworzone przez</td>
						<td
							th:text="${externalOrder.createdBy.firstName + ' ' + externalOrder.createdBy.lastName}">---</td>
					</tr>
					<tr>
						<td>Data utworzenia</td>
						<td
							th:text="${#calendars.format(externalOrder.creationDate, 'dd MMM yyyy')}">Data
							utworzenia</td>
					</tr>
					<tr>
						<td>Status</td>
						<td th:text="${externalOrder.status.polishTranslation}">Status</td>
					</tr>
				</table>
				<div class="btn-group" role="group" aria-label="...">
				  <button th:if="${externalOrder.status == T(bgshoprental.entity.ExternalOrderStatus).CREATED}" type="button" class="btn btn-default">Ustaw jako zrealizowane</button>
				  <button th:if="${externalOrder.status == T(bgshoprental.entity.ExternalOrderStatus).CREATED}" type="button" class="btn btn-default">Ustaw jako anulowane</button>
				</div>

				<hr />

				<h3>Elementy</h3>
				<table class="table table-striped">
					<tr>
						<th>Nazwa gry</th>
						<th>Ilość</th>
						<th>Cena</th>
						<th>Akcje</th>
					</tr>
					<tr th:each="element, iter : ${elements}">
						<td th:text="${element.boardGame.title}">Gra planszowa</td>
						<td th:text="${element.quantity}">Ilość</td>
						<td th:text="${element.price}">Cena</td>

						<td><button th:if="${externalOrder.status == T(bgshoprental.entity.ExternalOrderStatus).CREATED}" th:attr="data-id=${iter.index}"
								class="btn btn-default btn-xs removeElement"
								aria-label="Usuń wpis">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button></td>
					</tr>
					<tr th:if="${externalOrder.status == T(bgshoprental.entity.ExternalOrderStatus).CREATED}">
						<td><a href="#" style="color: black;"
							th:href="@{/zarzadzanie/zamowienia/zewnetrzne/{externalOrderId}/dodaj(externalOrderId=${externalOrder.id})}"><span
								class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								Wprowadź element...</a></td>
								<td></td>
								<td></td>
								<td></td>
					</tr>
				</table>

			</div>
		</div>
	</div>
</body>
<script>
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	var obj = {};
	obj.header = header;

	$('.removeElement').click(
			function() {

				$.ajax({
					url : "/zarzadzanie/zamowienia/zewnetrzne/"
							+ $('.orderDetails').data('external-order-id')
							+ "/" + $(this).data('id'),
					type : 'DELETE',
					headers : {
						'X-CSRF-TOKEN' : token
					}
				});

				$(this).parents('tr').remove();

			});
</script>
</html>