<!DOCTYPE html>
<html>
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Wypożyczalnio-Sklep Gier Planszowych</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


</head>
<body>

	<th:block th:include="fragments/navbar :: navbar"></th:block>
	<th:block th:include="fragments/parallaxLogo :: parallaxLogo"></th:block>

	<div class="container">
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-8 col-md-offset-2">
				<h3>Witamy..</h3>
				<p style="margin-left: 20px;">na naszej stronie internetowej. Zapraszamy do skorzystania z
					naszej oferty.</p>
				<h3>FAQ</h3>
				<ul>
					<li>Maksymalna długość wypożyczenia wynosi 4 tygodnie - 28
						dni.</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>