<!DOCTYPE html>
<html>
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Wypożyczalnio-Sklep Gier Planszowych</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


</head>
<body>

	<th:block th:include="fragments/navbar :: navbar"></th:block>
	<div class="container">
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">Witamy na naszej stronie
						internetowej. Zapraszamy do skorzystania z naszej oferty.</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>