<!DOCTYPE html>
<html>
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Wypożyczalnio-Sklep Gier Planszowych</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


</head>
<body>

	<th:block th:include="fragments/navbar :: navbar"></th:block>
	<th:block th:include="fragments/parallaxLogo :: parallaxLogo"></th:block>
	<div class="container">
		<div class="row" style="margin-top: 20px;">

			<div th:each="game : ${availableGames}" class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 th:text="${game.title}">Title</h3>
						<div class="row">
							<div class="col-md-6">
								<a class="btn btn-default btn-block" th:classappend="${game.rentalQuantity == 0} ? disabled" href="#" th:href="@{/wypozyczenia/utworz(boardGameId=${game.id})}" role="button">Wypożyczenie</a>
								Cena: <span th:text="${game.rentalPrice}"></span>zł / dzień
								Dostępność: <span th:text="${game.rentalQuantity}" class="badge">Ilość</span>
							</div>

							<div class="col-md-6">
								<a class="btn btn-default btn-block" th:classappend="${game.sellQuantity == 0} ? disabled" href="#" th:href="@{/zamowienia/dodaj(boardGameId=${game.id})}" role="button">Kupno</a>
								Cena: <span th:text="${game.sellPrice}"></span>zł
								Dostępność <span th:text="${game.sellQuantity}" class="badge">Ilość</span>
							</div>

						</div>


					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>