<!DOCTYPE html>
<html>
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<title>Wypożyczalnio-Sklep Gier Planszowych</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


</head>
<body>

	<th:block th:include="fragments/navbar :: navbar"></th:block>
	<div class="container">
		<div class="row" style="margin-top: 20px;">

			<div>

				<h2 class="rentalDetails">
					Szczegóły wypożyczenia nr. <span th:text="${rental.id}"></span>
				</h2>

				<table class="table table-striped">
					<tr>
						<td>Klient</td>
						<td
							th:text="${rental.client.firstName + ' ' + rental.client.lastName}"></td>
					</tr>
					<tr>
						<td>Gra planszowa</td>
						<td th:text="${rental.boardGame.title}"></td>
					</tr>
					<tr>
						<td>Data złożenia</td>
						<td
							th:text="${#calendars.format(rental.creationDate, 'dd MMM yyyy')}"></td>
					</tr>

					<tr>
						<td>Termin zwrotu</td>
						<td
							th:text="${#calendars.format(rental.rentUntilDate, 'dd MMM yyyy')}"></td>
					</tr>
					<tr>
						<td>Status</td>
						<td th:text="${rental.status.polishTranslation}"></td>
					</tr>
				</table>

				<form style="display: inline-block"
					th:if="${rental.status == T(bgshoprental.entity.RentalStatus).CREATED}"
					role="form"
					th:action="@{/zarzadzanie/wypozyczenia/{rentalId}/doodbioru(rentalId= ${rental.id})}"
					method="post">
					<button type="submit" class="btn btn-default">Ustaw do
						odbioru</button>

				</form>

				<form style="display: inline-block"
					th:if="${rental.status == T(bgshoprental.entity.RentalStatus).READY}"
					role="form"
					th:action="@{/zarzadzanie/wypozyczenia/{rentalId}/odebrane(rentalId= ${rental.id})}"
					method="post">
					<button type="submit" class="btn btn-default">Ustaw jako
						odebrane</button>
				</form>

				<form style="display: inline-block"
					th:if="${rental.status == T(bgshoprental.entity.RentalStatus).RECEIVED}"
					role="form"
					th:action="@{/zarzadzanie/wypozyczenia/{rentalId}/zrealizowane(rentalId= ${rental.id})}"
					method="post">
					<button type="submit" class="btn btn-default">Ustaw jako
						zrealizowane (oddane)</button>
				</form>

				<form style="display: inline-block"
					th:if="${(rental.status != T(bgshoprental.entity.RentalStatus).REALIZED) and (rental.status != T(bgshoprental.entity.RentalStatus).CANCELED)}"
					role="form"
					th:action="@{/zarzadzanie/wypozyczenia/{rentalId}/anuluj(rentalId = ${rental.id})}"
					method="post">
					<button type="submit" class="btn btn-default">Ustaw
						anulowane</button>

				</form>

			</div>
		</div>
	</div>
</body>
</html>