<!DOCTYPE html>
<html>
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Wypożyczalnio-Sklep Gier Planszowych</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


</head>
<body>

	<th:block th:include="fragments/navbar :: navbar"></th:block>
	<div class="container">
		<div class="row" style="margin-top: 20px;">

			<div>

				<h2>Zamówienia wewnętrzne</h2>
				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Klient</th>
						<th>Data utworzenia</th>
						<th>Status</th>
						<th>Akcje</th>
					</tr>
					<tr th:each="internalOrder : ${internalOrders}">
						<td th:text="${internalOrder.id}">ID</td>
						<td th:text="${internalOrder.orderedBy.firstName + ' ' + internalOrder.orderedBy.lastName}">Imię i nazwisko</td>
						<td
							th:text="${#calendars.format(internalOrder.creationDate, 'dd MMM yyyy')}">Data
							utworzenia</td>
							
						<td th:text="${internalOrder.status.polishTranslation}">Status</td>
						<td><a href="#"
							th:href="@{/zarzadzanie/zamowienia/wewnetrzne/{zamowienie}(zamowienie=${internalOrder.id})}"
							class="btn btn-default btn-xs" aria-label="Szczegóły zamówienia">
								<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
						</a></td>
					</tr>
				</table>

			</div>
		</div>
	</div>
</body>
</html>